body {
  background-color: rgba(187, 205, 207, 0.37);
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile {
  background-color: white;
  margin: auto;
  padding-top: 50px;
  width: 600px;
}

.description {
  text-align: center;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  margin-left: 150px;
  margin-right: 150px;
}

.title {
  font-weight: bold;
}

.stats {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.statsli {
  border: 1px solid gray;
  border-right: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: gainsboro;
}

.statsli:last-child {
  border-right: 1px solid gray;
}

.label {
  display: block;
  width: 100%;
  text-align: center;
}

.quantity {
  font-weight: 600;
  display: block;
  width: 100%;
  text-align: center;
}
