.statistics {
  background-color: white;
  margin: auto;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: 500px;
}

.title {
  text-align: center;
  margin-top: 0;
}

.statlist {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.item {
  width: 100%;
  border-radius: 10%;
  background-color: aqua;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
}

.label {
}

.percentage {
}
