.friendList {
  background-color: white;
  margin: auto;
  padding: 50px;
  width: 500px;
  list-style: none;
}

.item {
  padding: 10px;
  display: flex;
  align-items: center;
  border-style: inset;
  gap: 20px;
}

.online {
  background-color: green;
  padding: 5px;
  color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.offline {
  background-color: red;
  padding: 5px;
  color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.avatar {
  border-radius: 10%;
  background-color: aquamarine;
}

.name {
  font-style: italic;
}
